*{
    padding:0px;
    margin:0px;
    font-family:sans-serif;
}
#navbar{
    font-family: sans-serif;
    background-color: #000;
   display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:white;
    height: 10vh;
    z-index: 1000;
    width: 100%;
    font-size: 1.3vw;
    justify-content: space-evenly;
    position: sticky;
    top:0px;
    padding: 0px;
    margin: 0px;
    overflow: nowrap;
    background-color:black;
    }
.mainbody{
    background-color:black;
}
    body
     {
    overflow-x:hidden;
    }
    .avi{
    list-style: none;
    background: #000;
    text-decoration: none;
    text-align: center;
    color:white;
    }
    .avi li {
    display: inline-block;
    position: relative;
    }
    .avi li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align:left;
    font-size: 1.3vw;
    height: 4vh;
    }
.dropdown li {
    display: block;
    background:none;
    margin: 2px 0px;
    }
    .dropdown {
    width:100%;
    background: #000;
    position: absolute;
    z-index: 999;
    display: none;
    }
    .dropdown li a:hover {
    color: #3586ff;
    }
    ul li:hover ul.dropdown{
    display: block;
    }
#logoimg{
 
    transform: scale(0.4);
}  
#logoimg :hover{
    transform: scale(1.05);
}
#aboutus{
    padding:20px 25px;
    text-decoration: none;
    color: white;
    
    border-radius: 10vh;
    
}
#aboutus:hover{
    
   color: #3586ff;
  
}
#home{
    padding:20px 25px;
    text-decoration: none;
    color: white;
    
    animation: all 2s ease-in 5s ;
    border-radius: 10vh;
   
}
#home:hover{
   
    color: #3586ff;
}
#searchbox{
    width: fit-content;
    padding: 1vh;
    background-color:#000;
    outline: none !important;
    border: 2px solid white;
    border-radius: 5vh;
    
}
#searchbox:hover{
    border:2.5px solid #3586ff;
    color: #3586ff;

}
::placeholder{
    color: white;
    font-size: 1.2vw;
}

#searchbox input{
    background:transparent;
    color: white;
    font-size: 1.2vw;
    flex:1;
    border: 0;
    outline: none;
    
}
#searchbox:hover{
    
    background-color:none;
}
#searchbutton{
    color: white;
    border: 0;
    background:transparent;
    height: 30px;
}
#loginbutton{
    
    width: fit-content;
    background: transparent;
    outline:transparent;
    border: 0;
    border-radius: 10vh;
    border: 2px solid transparent;
    font-size: 1.2vw;
    color: white;
}
#loginbutton:hover{
    color: #3586ff;
    }
#signinbutton{
    padding: 1vh 1vh 1vh 1vh;
    width: fit-content;
    background: transparent;
    outline:transparent;
    border: 0;
    border-radius: 10vh;
    border: 2px solid white;
    font-size: 1.2vw;
    color: white;
}
#signinbutton:hover{
    border:2.5px solid  #3586ff;
    }

.categoryone {margin-top: 5vh;
    display: flex;
    overflow: hidden;
    height:auto;
    width:auto;
    max-width: 100vw;
    position:absolute;
    background-color:black;
    }

.travel {
    border: 2px solid transparent;
    height: 38vh;
    width: 50vh;
    padding: 1vh;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin-right: 15px;
    scroll-snap-align: start;
    animation: scroll 10s linear infinite;
    animation-play-state: running;
    transition: transform 0.3s ease; 
    font-weight: 501;
}

.categoryone:hover .travel {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    animation-play-state: paused;
   }
.travel a{
    text-decoration: none;
    color: black;
    width:100%;
}
.travel a:hover{
    color: rgb(229, 138, 19);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%)); 
    }
}
#two{
    height: 200px;
}
#three{
    height: 200px;
}


.backgrd_img{
    background-color: black;
    height:90vh;
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.index{
    color: white;  
    font-size: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
   /* margin-top: 5vh;*/
      animation: appearAnimation 1s forwards;
    border-radius: 4px; 
    background-color:black;
}

@keyframes appearAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.poem{color: white;
    font-size:1.3vw ;
    font-family:sans-serif;
    font-weight: 500;
    text-align: left;
    animation: appearAnimation 1s forwards;
}

button{
    height: 6vh;
    width: 10vw;
    font-size: 1.2vw;
    color: black;
    border: none;
    outline: none;
}
.scroll_container {
    width: 35%;
     height: 70vh;
     overflow: hidden;
     overflow-clip-margin: content-box;
     position:relative;
     align-self: center;
     
}

 .img_container{ 
      right: 1rem;
     width: 100%;
     height: auto;
     transform: translateY(0% -90%);
     animation: scroll_baani 15s linear 0s infinite;
     border-right: 1vw solid black;
 }
.img_baani{
    background-position-x: center;
    width: 500px;
    /* margin-top: 15px; */
    overflow-clip-margin: content-box;
    border: 2vw solid black;
}
 @keyframes scroll_baani {
     0% { transform: translateY(0%); }
     100% { transform: translateY(-100%); }
 }
 
 button:hover{
   background-color: rgb(212, 212, 212);
 }





 #fcontainer{
    
    width: 100vw;
    display: flex;
    
    justify-content: center;
    height: 30vh;
    background-color: #3586FF;
}
footer{
    position: relative;
}
#flogo{
    align-self: center;
    margin-right: 5vh;
    width: 10%;
    transform: scale(0.5);

}
#fabout{
    
    width:15%;
    height:10%;
    background-color:#3586ff;
    margin-top: 8vh;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    
}

#fabout  a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
    
}
#fabout  a:hover{
    color: black;
}
#fsupport{
    width:15%;
    height:10%;
    background-color: #3586FF;
    padding-top: 5vh;
    justify-content: center;
    text-align: center;
}
#fsupport a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 2vh;
}
#fsupport a:hover{
    color: black;
}
#fcontact{
    width:15%;
    height:10%;
    background-color: #3586FF;
    padding-top: 5vh;
    text-align: center;
    justify-content: center;
    
}
#fcontact a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: vh;
}
#fcontact a:hover{
    color: black;
}
#gototop{ 
   
    width:15%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
#gototop a{
    background-color: white;
    position: sticky;
    right: 5vw;
    bottom:2vw;
    text-decoration: none;
    color: black;
    text-align: center;
padding: 1.5vw;
margin-left:15vw;
   border-radius: 50%;
   
}
#gototop a:hover{
    border:2px solid black;
    color: #3586ff;
}
.waves{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100vw;
    height: 100px;
    background:url('wave.png');
}
.waves #wave1{
    
    opacity: 1;
    
    animation: animatewaves 4s linear infinite;
}
@keyframes animatewaves{
0%{background-position-x:1000px;}
100%{
    background-position-x:0px ;
}
}
.waves #wave2{
    
    opacity: 0.5;
    
    animation: animatewaves_2 3s linear infinite;
}
@keyframes animatewaves_2{
0%{background-position-x:0px;}
100%{
    background-position-x:1000px ;
}
}
.waves #wave3{
    
    opacity: 0.2;
    
    animation: animatewaves 3s linear infinite;
}

.waves #wave4{

    opacity: 0.7;
    
    animation: animatewaves_2 4s linear infinite;
}

 
/*diya1*/
.heading1:first-letter{
    font-size:1.2em;
}
.heading2:first-letter{
font-size: 1.7em;
}
.build-template{
    font-family: sans-serif;
    width:100%;
    height:100vh; 
    display:flex;
    flex-wrap:wrap;
    background-image:url("bulbsss.png");
    background-size:cover;
    color:black;
}
.heading1{
    margin-top: 30px;
    height:auto;
    width:100%;
     font-weight:bolder;
    font-size:5vh;
    margin-bottom:10vh;
    text-align: left;
    font-family: 'sans-serif';
font-weight: bold;
}
.para1{
    margin-top:5px;
    height:100%;
    padding:2px;
}
.scroll-container{
    display:flex;
    flex-direction:row;
overflow:auto;
white-space:nowrap;
margin-top: 0;
height: 50vh;
max-width: 50%;
scrollbar-width:0vh;
margin-left: 15vh;
flex-wrap:nowrap;
}
.image{
    margin-left:5px;
    margin-right:5px;
}
.para1-text{
    height:10vh;
  font-size:3vh;
  margin-top:30vh;    
    margin-left:12vh;
    text-align: left;
    width:100%;
    padding-right:5vh;
}
/*diya2*/
.mechanism-box32{
    width:100%;
    height:94vh;
   border:1px solid black;
    display:flex;
    color:black;
    font-family:sans-serif;
}
.how32{
    width:65%;
    height:94vh;
    display:flex;
    flex-wrap:wrap;
}
.how-heading32{
    width:80%;
    height:25vh;
    padding-top:50px;
}
.main32{
    font-size:70px;
}
.sub32{
    font-size:16px;
    padding-top:15px;
}
.how-heading32:first-letter{
    font-size:1.2em;
}
.how-pic32{
    height:39vh;
    width:20%;
background-size:cover;
}
.maincontainer32{
    position:relative;
    width:30%;
    height:50vh;
    margin:10px;
}
.card32{
    position:absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transition:all 0.5s ease;
}
.card32:hover{
    transform:rotateY(180deg);
}
.front32{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    font-size:100px;
   color:black;
   border:4px outset #b6bbc4;
}
.back32{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    transform:rotateY(180deg);
font-weight:bold;
border:4px inset black;
text-decoration: underline;
text-align:center;
display:flex;
justify-content: center;
align-items: center;
color:black;
}
.ONE32{
background-image:url("boy1.jpg");
background-size:contain;
background-repeat:no-repeat;
}
.TWO32{
background-image:url("boy2.jpg");
background-size:contain;
background-repeat:no-repeat;
}
.THREE32{
background-image:url("boy3.jpg");
background-size:contain;
background-repeat:no-repeat;
}
.browse-temp32{
    width:35%;
    height:93vh;
  color:white;
  background-color:black;
padding:4px;
}
p:first-letter{
    font-size:1.5em;
}
.choice32{
    display:inline-block;
    border:1px inset white;
 padding:4px;
 margin:4px;
}
.choice32:hover{
    border:2px double white;
    font-weight:bolder;
}
.search32{
    display:flex;
    flex-direction:column;
justify-content:center;
align-items:center;
  border:4px double white;
   margin-top:50px;
   padding:4px;
}
.search-text32{
    font-size:larger;
    margin-bottom:5px;
    font-size:25px;
}
.search-box32{
    width:250px;
    height:30px;
margin-bottom:15px;
}
.heading232{
    margin:10px;
    text-align:center;
    font-size:25px;
}
.heading332{
    font-size:8vh;
    text-align:center;
    padding:4px;
}
/*diya finished*/
/*baani*/
.backgrd_23{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    background-image: url("https://t3.ftcdn.net/jpg/03/89/32/80/360_F_389328016_ak3iUrk15slWfEZdYL96O6eKTUyImDeC.jpg");
    background-size: cover;
    color: white;
  }
  .heading_23{
    font-size: 110px;
    margin: 15px;
    background: linear-gradient(180deg, skyblue, white);
    color: transparent;
    background-clip:text;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .social {
    position: relative;
    display: flex;
  }
  .social ul {
    padding: 0px;
    transform: translate(-29vh,0);
  }
  .social ul li {
    display: block;
    margin: 25px;
    background: rgba(0, 0, 0, 0.36);
    width: 15.625vw;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition : all 1s ;
  }
  .social ul li:hover {
    transform: translate(8.5vw, 0);
    background: rgba(31, 6, 6, 0.4);
  }
  .social ul li:hover a {
    color: white;
    font-weight: 550;
    letter-spacing: 0.1em;
    font-size: 18px;
  }
  .social ul li:hover i {
    background: #fff;
    transform: rotate(360deg);
    transition: all 1s;
  }
  
  .social ul li:hover .fa-square-instagram {
    color:#E1306C;
  }
  .social ul li:hover .fa-square-github{
    color:#6e5494;
  }
  .social ul li:hover .fa-telegram{
    color:#229ED9;
  }
  .social ul li:hover .fa-square-twitter{
    color:#1DA1F2;
  }
  .social ul li:hover .fa-linkedin{
    color:#0077b5;
  }
  
  
  .social ul li i {
    margin-left: 10px;
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    transform: rotate(0deg)
  }
  .class_23{
    display: flex;
  }
  .emo_23 h2{
    font-size: 55px;
    border-bottom: 2px solid white;
    background: linear-gradient(180deg, skyblue, white);
    color: transparent;
    background-clip:text;
  }
  .emo_23 li{
    font-size: 35px; 
  }
  .c_23feed{
    display:flex;
  }
.bdy1{
   /* border: 2px solid transparent;*/
    height: 90vh;
    width:30%;
    background-color:#b19470;
}
.bdy2{
  /*  border: 2px solid transparent;*/
    height: 90vh;
    width:70%;
    background-image: url("feedback_board.jpg");
    background-size: cover;
}
.cot23{
    position: relative;
    top: 8vw;
    font-size: 40px;
    font-family:sans-serif;
    text-align:left;
}
.bimg23 button{
    border: 2px solid black;
    background-color: black;
    border-radius: 4px;
    position: relative;
    top: 10vw;
    height: 5vw;
    width: 10vw;
    left: 19vw;
}

.bimg23 a{
font-size: 25px;
text-decoration: none;
color: white;
font-weight: 500;
}